/* ESTÉTICA */

*::selection {
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255) !important;
  }
  
  ::-webkit-scrollbar {
    width: 13px;
    /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #323232;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    /* Color de fondo de la barra de desplazamiento */
  }
  
  /* FOOTER Y HEADER */
  
  /* HEADER */
  
  body {
    font-family: initial;
  }
  
  .imagenesnav a {
    margin: 9px;
  }
  
  main {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: rgb(220, 220, 220);
  }
 
#logonav {
  display: inline;
  width: 50px;
}
  
  .nav-link {
    border: 2px solid white !important;
  }
  
  .nav-link:hover{
    border-top: 2px solid rgb(207, 207, 207) !important;
    border-bottom: 2px solid rgb(207, 207, 207) !important;
  }
  
  .imagenesnav div{
    border: 2px solid white !important;
  }
  
  .imagenesnav div:hover{
    border-bottom: 2px solid rgb(89, 89, 89) !important;
  }
  
  /*FOOTER*/

#fdivimg img{
  margin: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#fdivimg a:hover{
  border-bottom: 3px solid rgb(89, 89, 89);
}

#fdivimg {
  text-align: center;
  background-color: white;
}


.fcopy {
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  padding: 10px !important;
  margin-bottom: 0 !important;
}


table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th {
  width: 25%;
}

th p{
  margin: 4px;
  border-bottom: solid 2px #343434 !important;
  border-top: solid 2px #959595 !important;
}

th p:hover{
  border-top: 2px solid #c1c1c1 !important;
  border-bottom: 2px solid #c1c1c1 !important;
}

td p{
  border: 2px solid rgb(255, 255, 255) !important;
}

td a:hover{
  border-bottom: 2px solid rgb(177, 177, 177) !important;
  border-radius: 5px;
  font-weight:bolder;
}

.pritd p{
  margin-top: 9px !important;
}

table a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
  /*  DIV SUPERIOR DESLIZANTE */
  
  
  #divsup {
    background-color: #575757;
    color: rgb(208, 208, 208);
    font-weight: bold;
    text-align: center;
  }
  
  #divsup p {
    margin: 0 !important;
  }
