
/* ESTÉTICA */
*{font-family: 'Kay Pho Du', serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
*::selection{
  background-color: lightgreen;
  color: black;
  }

/* TRAGAMONEDAS */

.slot-machine {
  text-align: center;
  padding-top: 50%;
}

.slot img {
  background-image: url(./tm-img/velocidad.jpg);
  background-size: auto;
}

.slot {
  display: inline-block;
  width: 30%;
  background-color: goldenrod;
  padding: 8px;
}

.slot img {
  width: 100%;
}

.botonalineado{
  text-align: center;
}

#spin-btn{
  width: 30%;
  background: none;
  border: 0;
  margin-top: 20px;
}

#spin-btn img {
  width: 100%;
}

/* RULETA */

#ruleta{
  width: 100%;
}

.wheel{
  margin-top: -8%;
}

.marker {
  position: relative;
  z-index: 2;
  width: 15%;
}

.button img {
  width: 100%;
}

.button {
  width: 30%;
  background: none;
  border: 0;
}
.divruleta{
  text-align: center;
}
.col-6{
  padding: 0 !important;
}