/* TRAGAMONEDAS */

.slot-machine {
  text-align: center;
}

.slot img {
  background-image: url(./tm-img/velocidad.jpg);
  background-size: auto;
}

.slot {
  display: inline-block;
  width: 15%;
  background-color: goldenrod;
  padding: 8px;
}

.slot img {
  width: 100%;
}

.botonalineado{
  text-align: center;
  margin-top: 10px;
}

/* RULETA */

#app {
  text-align: center;
}

.marker {
  position: absolute;
  z-index: 2;
  left: 50%;
  /* Centrar horizontalmente el elemento */
  transform: translate(-50%, -50%);
  /* Alinear el centro del elemento al centro del contenedor */
}

.button {
  width: 20%;
}

.button img {
  width: 100%;
}

.button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}