/* ESTÉTICA */

*::selection {
  background-color: rgb(114, 187, 255);
  color: black !important;
}

::-webkit-scrollbar {
  width: 13px;
  /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background: #323232;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  /* Color de fondo de la barra de desplazamiento */
}

/* TRAGAMONEDAS */

.slot-machine {
  text-align: center;
}

.slot img {
  background-image: url(./tm-img/velocidad.jpg);
  background-size: auto;
}

.slot {
  display: inline-block;
  width: 30%;
  background-color: rgb(89, 89, 89);
  padding: 4px;
}

.slot img {
  width: 100%;
}

.botonalineado {
  text-align: center;
}

#spin-btn {
  width: 30%;
  background: none;
  border: 0;
  margin-top: 20px;
}

#spin-btn img {
  width: 100%;
}

/* RULETA */

#ruleta {
  width: 100%;
}

.wheel {
  margin-top: -8%;
}

.marker {
  position: relative;
  z-index: 2;
  width: 15%;
}

.button img {
  width: 100%;
}

.button {
  width: 30%;
  background: none;
  border: 0;
}

.divruleta {
  text-align: center;
}

.col-6 {
  padding: 0 !important;
}


/* FOOTER Y HEADER */

/* HEADER */

body {
  font-family: initial;
}

.imagenesnav a {
  margin: 9px;
}

main {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: rgb(220, 220, 220);
}

nav{
  position: sticky;
}

#logonav {
  display: inline;
  width: 60px;
}

.nav-link {
  border: 2px solid white !important;
}

.nav-link:hover{
  border-top: 2px solid rgb(114, 187, 255) !important;
  border-bottom: 2px solid rgb(114, 187, 255) !important;
}

.imagenesnav div{
  border: 2px solid white !important;
}

.imagenesnav div:hover{
  border-bottom: 2px solid rgb(69, 107, 142) !important;
}

/*FOOTER*/
.fimg {
  margin: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#fdivimg {
  text-align: center;
}


.fcopy {
  font-size: 15px;
  text-align: center;
  margin-top: 90px;
}


table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th {
  width: 25%;
  font-weight: normal;
}

table a {
  text-decoration: none;
  color: black;
}

/*  DIV SUPERIOR DESLIZANTE */


#divsup {
  background-color: #dddddd;
  color: rgb(62, 62, 62);
  font-weight: bold;
  text-align: center;
}

#divsup p {
  margin: 0 !important;
}