/* ESTÉTICA */

*::selection {
  background-color: rgb(114, 187, 255);
  color: black !important;
}

::-webkit-scrollbar {
  width: 13px;
  /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background: #323232;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  /* Color de fondo de la barra de desplazamiento */
}

/* FOOTER Y HEADER */

/* HEADER */

body {
  font-family: initial;
}

.imagenesnav a {
  margin: 9px;
}

main {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(114, 187, 255);
}


#logonav {
  display: inline;
  width: 50px;
}

.nav-link {
  border: 2px solid white !important;
}

.nav-link:hover {
  border-top: 2px solid rgb(114, 187, 255) !important;
  border-bottom: 2px solid rgb(114, 187, 255) !important;
}

.imagenesnav div {
  border: 2px solid white !important;
}

.imagenesnav div:hover {
  border-bottom: 2px solid rgb(69, 107, 142) !important;
}

/*FOOTER*/

#fdivimg img{
  margin: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#fdivimg a:hover{
  border-bottom: 3px solid rgb(40, 62, 82) !important;
}

#fdivimg {
  text-align: center;
  background-color: white;
}


.fcopy {
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  padding: 10px !important;
  margin-bottom: 0 !important;
}


table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th {
  width: 25%;
}

th p{
  margin: 4px;
  border-bottom: solid 2px #343434 !important;
  border-top: solid 2px #959595 !important;
}

th p:hover{
  border-top: 2px solid #3682ae !important;
  border-bottom: 2px solid #3682ae !important;
}

td p{
  border: 2px solid rgb(255, 255, 255) !important;
}

td a:hover{
  border-bottom: 2px solid #3682ae !important;
  border-radius: 5px;
  font-weight:bolder;
}

.pritd p{
  margin-top: 9px !important;
}

table a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
/*  DIV SUPERIOR DESLIZANTE */


#divsup {
  background-color: rgb(40, 62, 82);
  color: rgb(114, 187, 255);
  font-weight: bold;
  text-align: center;
  top: 0px;
  position: sticky;
  z-index: 100 !important;
}

#divsup p {
  margin: 0 !important;
}

/* ARTICLE */

.logoliga {
  text-align: center;
  border-color: rgb(40, 62, 82);
}

.logoliga img {
  width: 20%;
  border: solid #ffffff 1px;
  border-bottom: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.vs {
  border: solid #ffffff 2px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.equipos {
  text-align: center;
}

.equipos img {
  margin: 10px;
  width: 100px;
}

.equipos * {
  display: inline;
}

.equipos p {
  font-weight: bold;
}

.vs .col-4 {
  border: #323232 solid 2px;
  border-radius: 50px;
  border-top: 0;
  border-bottom: 0;
}

.vs .row {
  margin-top: 100px;
  margin-bottom: 100px;
}

.vs button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.vs button:hover {
  background-color: #3682ae;
}

.vs button:active {
  transform: translateY(2px);
}
.vs div{
  padding: 0 !important;
}